// Defaults commented

const mongoDBConnection = {
    "user": "codematch",
    "password": "password",
    "database": "codematch",
//    "port": 27017,
//    "host": "localhost"
};

const googleAuth = {
    "web": {
        "client_id": "REDACTED.apps.googleusercontent.com",
        "project_id": "codematch",
        "auth_uri": "https://accounts.google.com/o/oauth2/auth",
        "token_uri": "https://oauth2.googleapis.com/token",
        "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
        "client_secret": "REDACTED",
        "redirect_uris": ["https://cm.johnramsden.ca/auth/google", "https://cm.johnramsden.ca/auth/google/callback"]
    }
};

const FCM_KEY = "FCM key here";

const domain = "cm.johnramsden.ca";

const jwtSecret = "SECRET_HERE";

const logLevel = process.env.LOG_LEVEL || "debug";


const collections = {
    users: "users",
    questions: "questions",
};

module.exports = {
    mongoDBConnection: mongoDBConnection,
    collections: collections,
    googleAuth: googleAuth,
    domain: domain,
    FCM_KEY: FCM_KEY,
    jwtSecret: jwtSecret,
    logLevel: logLevel,
};
